# TextMate tutorial: http://manual.macromates.com/en/language_grammars

# Regex to convert keys to unquoted: '(include|match|captures|begin|end|beginCaptures|endCaptures|name|patterns|0|1|2|3|4|5|6|7|8|9|comment|fileTypes|scopeName|repository|contentName|firstLineMatch|foldingStartMarker|foldingStopMarker)':

scopeName: 'source.lang' # <scope> should be a short, unique indicator for the language ("js", "php", "c", etc.)
name: 'lang' # The title that will show up in grammar selection and on your status bar.
fileTypes: [ # An array of file extensions.
  'lang'
]
patterns: [
  {
    begin: '(^[ \\t]+)?(?=#|//)'
    beginCaptures:
      1:
        name: 'punctuation.whitespace.comment.leading.mc-lang'
    end: '(?!\\G)'
    patterns: [
      {
        begin: '#|//'
        beginCaptures:
          0:
            name: 'punctuation.definition.comment.mc-lang'
        end: '\\n'
        name: 'comment.line.number-sign.mc-lang'
      }
    ]
  }
  {
    begin: '^\\s*(([\\S&&[^=\\\\]]|\\\\.)+)\\s*(=)'
    end: '\\n'
    beginCaptures:
      1:
        name: 'support.constant.mc-lang'
        patterns: [
          {
            match: '\\\\([tnfr"\'\\\\]|u\\h{4})'
            name: 'constant.character.escape.mc-lang'
          }
        ]
      3:
        name: 'punctuation.separator.key-value.mc-lang'
    name: 'meta.key-pair.mc-lang'
    patterns: [
      {
        begin: '(?=\\S)'
        end: '(?=\\n)'
        name: 'string.unquoted.mc-lang'
        patterns: [
          {
            match: '\\\\([tnfr"\'\\\\]|u\\h{4})'
            name: 'constant.character.escape.mc-lang'
          }
          {
            match: '[0-9a-fk-or]'
            name: 'constant.other.symbol.mc-lang'
          }
          {
            match: '<[a-zA-Z0-9-]+>'
            name: 'constant.other.symbol.mc-lang'
          }
          {
            match: '%(\\d\\$)?([\\.-0])?\\d?[aAbBcCeEgGxXhHsStTodf]'
            name: 'variable.mc-lang'
          }
          {
            match: '%(?!(\\d\\$)?([\\.-0])?\\d?[aAbBcCeEgGxXhHsStTodf])'
            name: 'invalid.illegal.mc-lang'
          }
        ]
      }
    ]
  }
]
